#landing {
  width: 100vw;
  height: 100%;
  padding: 80px 24px;

  /* background-color: #0c0c0c; */

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 64px;
}

#landing .logo {
  width: 300px;
}

#landing .title {
  flex-grow: 1;
  flex-shrink: 1;
}

#landing .credits {
  font-family: "Adobe Clean", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: white;
  line-height: 1.5;
  max-width: 500px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #landing .credits {
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
}
