#timeline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#timeline ._2022 {
  left: 4%;
}

#timeline ._2023 {
  left: 56.8%;
}

#timeline .message {
  font-family: "Arapey", serif;
  font-size: 32px;
  text-align: center;
  color: black;

  max-width: min(470px, 90vw);

  position: absolute;
  left: 0.2%;

  transition: 0.5s color;
}

#timeline .year {
  font-family: "Arapey", serif;
  font-size: 140px;
  color: black;
  text-align: center;
  font-weight: lighter;

  position: absolute;

  transition: 0.5s color;
}

main.bg-black #timeline .message,
main.bg-dark #timeline .message,
main.bg-black #timeline .year,
main.bg-dark #timeline .year {
  /* color: var(--linen); */
  color: white;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  #timeline .message {
    font-size: 24px;
  }

  /* #timeline .year {
    font-size: 140px;
  } */
}
