#timeline .photo,
#timeline .photo .overlay,
#timeline .photo img {
  position: absolute;
}

#timeline .photo::after {
  content: attr(data-title);
  color: white;
  font-family: "TRY Vesterbro";
  font-weight: bold;
  text-align: center;
  font-size: 48px;

  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 85%;

  opacity: 0;
  transition: opacity 0.3s;
}

#timeline .photo:hover::after {
  opacity: 1;
}

/* looks better tbh */
#timeline .admu-as-the-philippines-1::after {
  inset: 50% auto auto 60%;
}

#timeline .photo img {
  transition: filter 0.3s;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#timeline .photo:hover img {
  filter: brightness(0.3);
}

/* In order of appearance */
#timeline .jeneven {
  height: 40%;
  inset: 5% auto auto 7%;
}

#timeline .liwanag-sa-dilim {
  height: 40%;
  inset: 55% auto auto 8.9%;
}

#timeline .kick-like-a-girl {
  height: 100%;
  inset: 0 auto 0 12%;
}

#timeline .protesting-in-silence {
  height: 50%;
  inset: 13% auto auto 14.6%;
}

#timeline .laban-ko-laban-nating-lahat {
  height: 65%;
  inset: 20% auto auto 17.4%;
}

#timeline .rainbows-late-into-the-night {
  height: 60%;
  inset: 10% auto auto 19.3%;
}

#timeline .boop {
  height: 50%;
  inset: 45% auto auto 23.2%;
}

#timeline .admu-as-the-philippines-1 {
  height: 100%;
  inset: 0% auto auto 26.6%;
}

#timeline .sing-your-heart-out {
  height: 65%;
  inset: 5% auto auto 32.6%;
}

#timeline .all-the-worlds-a-stage {
  height: 55%;
  inset: 40% auto auto 34.5%;
}

#timeline .the-fast-ateneo-swimming-team {
  height: 40%;
  inset: 50% auto auto 36.7%;
}

#timeline .end-of-the-match {
  height: 40%;
  inset: 5% auto auto 38.2%;
}

#timeline .redemption {
  height: 65%;
  inset: 25% auto auto 40.8%;
}

#timeline .reclaim-the-crown {
  height: 100%;
  inset: 0% auto auto 45%;
}

#timeline .blue-eagles-band-of-brothers {
  height: 48%;
  inset: 40% auto auto 50.5%;
}

#timeline .celebrating-champions {
  height: 100%;
  inset: 0% auto auto 60.3%;
}

#timeline .the-crown-is-back-in-loyola-heights {
  height: 55%;
  inset: 38% auto auto 66%;
}

#timeline .locked-eyes {
  height: 55%;
  inset: 5% auto auto 69.5%;
}

#timeline .sa-harap-ng-midya-at-masa {
  height: 40%;
  inset: 55% auto auto 72.7%;
}

#timeline .commuter-rush {
  height: 40%;
  inset: 25% auto auto 74.9%;
}

#timeline .tahanan {
  height: 40%;
  inset: 55% auto auto 77.4%;
}

#timeline .from-the-community {
  height: 56%;
  inset: 5% auto auto 79.9%;
}

#timeline .off-the-road {
  height: 58%;
  inset: 25% auto auto 83.2%;
}

#timeline .brought-home-the-silver {
  height: 100%;
  inset: 0% auto auto 87.5%;
}

#timeline .eyes-on-the-goal {
  height: 50%;
  inset: 40% auto auto 93%;
}

/* anim */
#timeline .anim {
  transform: translate(0, -64px);
  opacity: 0;

  transition: 1s transform, 1s opacity;
}

#timeline .anim.active {
  transform: translate(0, 0);
  opacity: 1;
}
