* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linen: #faf0e6;
  --dark: #0c0c0c;
}

body {
  height: 1500vh;
  background-color: var(--linen);
}

body.no-scroll {
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 100% auto auto;
  grid-template-rows: 1fr;

  transition: 0.5s background-color;

  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

main.bg-black {
  background-color: black;
}

main.bg-dark {
  background-color: var(--dark);
}

main.bg-linen {
  background-color: var(--linen);
}
