* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linen: #faf0e6;
}

body {
  height: 1000vh;
  background-color: var(--linen);
}

body.no-scroll {
  overflow: hidden;
}

main {
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 100% auto auto;
  grid-template-rows: 1fr;

  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}
