* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linen: #fff8e7;
  /* --linen: #faf0e6; */
  --dark: #0c0c0c;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--linen);
}

body.no-scroll {
  overflow: hidden;
}

#root {
  height: 100%;
}

main {
  width: fit-content;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;

  transition: 0.5s background-color;
}

main > * {
  flex-shrink: 0;
}

main.bg-black {
  background-color: #040303;
  /* background-color: black; */
}

main.bg-dark {
  background-color: var(--dark);
}

main.bg-light {
  /* background-color: #fff8e7; */
  background-color: var(--linen);
}

#timeline-container {
  width: fit-content;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}
