#ending {
  width: 60vw;
  margin-left: -20vw;
  height: 100%;
  padding: 80px 100px 80px 0;

  /* color: var(--linen); */
  color: white;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  justify-items: flex-end;
  align-items: center;
  row-gap: 64px;

  position: relative;
  z-index: 50;
}

#ending .logo {
  width: 250px;
}

#ending .title {
  font-size: 160px;
  font-family: "Arapey", serif;
  line-height: 0.75;
  letter-spacing: -0.03em;
  font-weight: normal;
  text-align: right;

  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
}

#ending .credits {
  font-family: "Adobe Clean", sans-serif;
  text-transform: uppercase;
  text-align: right;
  line-height: 1.5;
  max-width: 500px;
  font-weight: lighter;
}

@media screen and (max-width: 1200px) {
  #ending {
    margin-left: -10vw;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  #ending {
    margin-left: 0;
    width: 100vw;
    padding: 80px 48px 80px 0;
  }
}

@media screen and (max-width: 576px) {
  #ending {
    padding: 32px 24px;
  }
}
